*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
@font-face {
  font-family: "Tolkien";
  src: url('../fonts/ringbearer.ttf');
}
@font-face {
  font-family: "MiddleEarth";
  src: url('../fonts/aniron.regular.ttf');
}
html {
  font-family: 'MiddleEarth', sans-serif;
}
img {
  width: 100%;
}
main {
  height: 1200vh;
  background: #000;
}
.header {
  position: fixed;
  width: 100%;
  background: #000;
  z-index: 99;
}
.container {
  max-width: 1180px;
  width: 95%;
  margin: auto;
}
.menu {
  height: 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.menu__button {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  top: 48%;
}
.menu__button:before {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  margin-top: -8px;
}
.menu__button:after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  margin-top: 8px;
}
.menu__title {
  margin-left: 50px;
}
.menu__data {
  max-width: 230px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo */
.logo {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
.logo__title {
  font-family: "Tolkien", sans-serif;
  position: fixed;
  top: 5%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  text-align: center;
  font-size: 7vw;
  letter-spacing: 11px;
  background: #000;
  color: #fff;
  transition: all 0.1s;
  z-index: 1;
  mix-blend-mode: darken;
}
/* main */
.main__fixed {
  position: fixed;
  height: inherit;
  width: 100%;
  height: 100vh;
}
.brotherhood {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: all 1.5s;
}
.map, .gondor, .shir, .rivendel, .karadras, .moria, .lorien, .anduin {
  z-index: 1;
  opacity: 0;
}
.map {
  background: url('../img/map.jpg') no-repeat center;
}
.gondor {
  background: url('../img/gondor.jpg') no-repeat center;
}
.shir {
  background: url('../img/shir.jpg') no-repeat center;
}
.rivendel {
  background: url('../img/rivendel.jpg') no-repeat center;
}
.karadras {
  background: url('../img/karadras.jpg') no-repeat center;
}
.moria {
  background: url('../img/moria.jpg') no-repeat center;
}
.lorien {
  background: url('../img/lorien.jpg') no-repeat center;
}
.anduin {
  background: url('../img/anduin.jpg') no-repeat center;
}