*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
@font-face {
  font-family: "Tolkien";
  src: url('../fonts/ringbearer.ttf');
}
@font-face {
  font-family: "MiddleEarth";
  src: url('../fonts/aniron.regular.ttf');
}
html {
  font-family: 'MiddleEarth', sans-serif;
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  display: block;
  width: 7px;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: #E4C241;
}
img {
  width: 100%;
}
main {
  height: 1200vh;
  background: #000;
}
.header {
  position: fixed;
  width: 100%;
  background: #000;
  z-index: 99;
}
.container {
  position: relative;
  max-width: 1180px;
  width: 95%;
  margin: auto;
}
.menu {
  height: 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.menu__button {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  top: 48%;
}
.menu__button:before {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  margin-top: -8px;
}
.menu__button:after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  margin-top: 8px;
}
.menu__title {
  margin-left: 50px;
}
.menu__data {
  max-width: 230px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo */
.logo {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
}
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
.logo__title {
  font-family: "Tolkien", sans-serif;
  position: fixed;
  top: 5%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  text-align: center;
  font-size: 7vw;
  letter-spacing: 11px;
  background: #000;
  color: #fff;
  transition: all 0.1s;
  z-index: 1;
  mix-blend-mode: darken;
}
/* main */
.slidebox {
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0.25;
}
.slidebox__slide {
  height: inherit;
  width: 100%;
  height: 100vh;
  transition: all 1.5s;
}
.brotherhood {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  transition: all 1.5s;
}
.slidebox__text {
  position: absolute;
  width: 30%;
  padding-top: 100px;
  transition: all 1.5s;
  color: #E4C241;
  opacity: 0;
}